<h1>New Category</h1>

<% if @category.errors.any? %>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @category do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>
